{% extends "oticas/base.html" %}
{% load staticfiles %}

{% block main-view %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 img-banner4">
        </div>
    </div>
</div>
{% endblock main-view %}

{% block content %}

<div class="container my-5">
    <form method="POST">
        <h2 class="display-4">Cadastre-se</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-sm btn-outline-success">Cadastrar</button>
    </form>
</div>

{% endblock content %}