{% extends "oticas/base.html" %}
{% load staticfiles %}

{% block main-view %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mx-4 mt-5 text-dark">
                Redirecionando ao site do PayPal...
            </h2>
        </div>
    </div>
</div>
{% endblock main-view %}

{% block content %}
<!-- carrinho -->

<div class="container">

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_self">
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="upload" value="1">
        <input type="hidden" name="business" value="guile.hm@hotmail.com">
        <input type="hidden" name="currency_code" value="BRL">
        <input type="hidden" name="lc" value="BR">

        {% for i in oculos %}
        <input type="hidden" name="item_name_{{ forloop.counter }}" value="{{ i }}">
        <input type="hidden" name="amount_{{ forloop.counter }}" value="{{ i.valor }}">
        <input type="hidden" name="shipping_{{ forloop.counter }}" value="{{ valor_unit }}">
        {% endfor %}

        <input type="image" id="paypalform" src="" name="submit"
               alt="" target="_self">
    </form>

</div>

<div class="container">
    <!-- working form -->


</div>
<script>
    window.onload = function() {
			document.getElementById('paypalform').click();
		}
</script>

{% endblock content %}