{% extends "oticas/base.html" %}
{% load staticfiles %}

{% block main-view %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 img-banner3">
        </div>
    </div>
</div>
{% endblock main-view %}

{% block content %}

<div class="container my-5">
    {% if sucesso %}
    <div class="alert alert-success">
        Mensagem enviada com sucesso
    </div>
    {% endif %}
    <form method="POST">
        <h2 class="display-4">Entre em contato conosco</h2>
        {% csrf_token %}
        {{ contato_form.as_p }}
        <button type="submit" class="btn btn-sm btn-outline-success">Enviar</button>
    </form>
</div>

{% endblock content %}