{% extends "oticas/base.html" %}
{% load staticfiles %}

{% block main-view %}
{% endblock main-view %}

{% block content %}

<div class="container my-5">
    <form method="post">
        <h2 class="display-4">Login</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-sm btn-outline-success">Login</button>
    </form>
    <br>
    <h6 class="text-muted">Caso ainda não tenha um conta, cadastre-se através deste <a href="{% url 'oticas:cadastro' %}">link</a></h6>
</div>

{% endblock content %}