{% extends "oticas/base.html" %}
{% load staticfiles %}

{% block main-view %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 img-home">
            <h1 class="display-2 mt-4 title-white shadowed">Faça o Login</h1>
            <p class="lead mx-4 mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut lobortis arcu.
            </p>
            <div class="text-center mt-4">
                <a role="button" class="btn btn-info btn-lg btn-center" href="#">Entrar</a>
            </div>
        </div>
    </div>
</div>
{% endblock main-view %}

{% block content %}

<div class="container my-5">
    <form method="post">
        <h2 class="display-4">Login</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-sm btn-outline-success">Login</button>
    </form>
    <br>
    <h6 class="text-muted">Caso ainda não tenha um conta, cadastre-se através deste <a href="{% url 'oticas:cadastro' %}">link</a></h6>
</div>

{% endblock content %}