{% extends "oticas/base.html" %}
{% load staticfiles %}

{% block main-view %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 img-home">
            <h1 class="display-3 mt-4 title-white shadowed">Veja nossos produtos</h1>
            <p class="lead mx-4 mt-5">
                <a class="btn btn-primary btn-md m-1" href="{% url 'oticas:carrinho' %}">Carrinho <span class="badge badge-success">{{ qtd_carrinho }}</span></a>
            </p>
        </div>
    </div>
</div>
{% endblock main-view %}

{% block content %}

<!-- Listagem de Óculos -->
<div class="container">
    <div id="produtos" class="container-fluid produtos mb-4 pr-0">
        <div class="container mt-5">
            <h1 class="display-4 mb-4">Produtos Disponíveis:</h1>
            <div class="row">

                {% for i in oculos %}
                {% if i.disp %}
                <div class="col-12 col-md-4 col-lg-3 child" style="width: 18rem;">
                    <div class="card border-0">
                        <img class="card-img-top" src="{{ i.imagem.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title mb-1">{{i.marca}}</h5>
                            <p class="card-text m-0"><strong>Modelo:</strong> {{i.modelo}}</p>
                            <p class="card-text m-0"><strong>Preço: R$ {{i.valor}}</strong></p>
                            <p class="card-text m-0">{{i.pagamento}}</p>
                            <p class="card-text mt-0"><strong>Prazo entrega:</strong> {{i.prazo}} dias</p>

                            <a href="#" class="btn btn-outline-primary btn-sm mt-1" data-target="#modalDetalhes{{i.id}}" data-toggle="modal">Imagens</a>
                            {% if user.is_authenticated and request.user.enderecouser_set.all %}
                            <a href="#" data-target="#modalCart{{i.id}}" data-toggle="modal"
                               class="btn btn-outline-info btn-sm mt-1">Detalhes
                            </a>
                            <a href="#" class="btn btn-success btn-sm mt-1">
                                <i class="fas fa-cart-arrow-down" data-target="#modalCartAdd{{i.id}}" data-toggle="modal"></i>
                            </a>

                            {% elif user.is_authenticated %}
                            <a href="{% url 'oticas:endereco' %}" class="btn btn-outline-success btn-sm mt-1">Adicionar ao carrinho</a>
                            <a href="#" data-target="#modalCart{{i.id}}" data-toggle="modal"
                               class="btn btn-outline-info btn-sm mt-1">Detalhes
                            </a>
                            {% else %}
                            <a href="#" data-target="#modalCart{{i.id}}" data-toggle="modal"
                               class="btn btn-outline-info btn-sm mt-1">Detalhes
                            </a>
                            <a href="#" class="btn btn-success btn-sm mt-1">
                                <i class="fas fa-cart-arrow-down" data-target="#modalCartAdd{{i.id}}" data-toggle="modal"></i>
                            </a>
                            {% endif %}
                       </div>
                    </div>
                </div>

                <!-- Modal for more images -->
                <div class="modal fade" id="modalDetalhes{{i.id}}" tabindez="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Mais fotos</h5>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span>&times;</span>
                                </button>
                            </div>

                            {% if i.img3 %}
                            <div class="modal-body">
                                <img class="card-img-top mb-3" src="{{ i.imagem.url }}" alt="Card image cap">
                                <img class="card-img-top mb-3" src="{{ i.img1.url }}" alt="Card image cap">
                                <img class="card-img-top mb-2" src="{{ i.img2.url }}" alt="Card image cap">
                                <img class="card-img-top mb-2" src="{{ i.img3.url }}" alt="Card image cap">
                            </div>
                            {% elif i.img2 %}
                            <div class="modal-body">
                                <img class="card-img-top mb-3" src="{{ i.imagem.url }}" alt="Card image cap">
                                <img class="card-img-top mb-3" src="{{ i.img1.url }}" alt="Card image cap">
                                <img class="card-img-top mb-2" src="{{ i.img2.url }}" alt="Card image cap">
                            </div>
                            {% elif i.img1 %}
                            <div class="modal-body">
                                <img class="card-img-top mb-3" src="{{ i.imagem.url }}" alt="Card image cap">
                                <img class="card-img-top mb-3" src="{{ i.img1.url }}" alt="Card image cap">
                            </div>
                            {% else %}
                            <div class="modal-body">
                                <img class="card-img-top mb-3" src="{{ i.imagem.url }}" alt="Card image cap">
                            </div>
                            {% endif %}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Modal for details -->
                <div class="modal fade" id="modalCart{{i.id}}" tabindez="-1" role="dialog" data-backdrop="static">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Detalhes do produto</h5>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span>&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <img class="card-img-top mb-3" src="{{ i.imagem.url }}" alt="Card image cap">
                                <p>
                                    <strong>{{ i }}.<br></strong>
                                    <strong>Estilo:</strong> {{ i.estilo }}.<br>
                                    <strong>Descrição:</strong> {{ i.descricao }}.<br>
                                    <strong>Preço R$:</strong> {{ i.valor }}<br>
                                    <strong>Prazo de entrega:</strong> {{ i.prazo }} dias + prazo dos correios.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'oticas:adicionar' i.id %}" target="_self" class="btn btn-success">Adicionar ao carrinho</a>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal adding to cart -->
                <div class="modal fade" id="modalCartAdd{{i.id}}" tabindez="-1" role="dialog" data-backdrop="static">
                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Adicionado ao carrinho com sucesso!</h5>
                                <a href="{% url 'oticas:adicionar' i.id %}" target="_self" class="close">
                                    <span>&times;</span>
                                </a>
                            </div>

                            <div class="modal-body">
                                <img class="card-img-top mb-3" src="{{ i.imagem.url }}" alt="Card image cap">
                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'oticas:adicionar' i.id %}" target="_self" class="btn btn-danger">Fechar</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}
